@font-face {
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url('../assets/font/VT323-Regular.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --font: 'VT323';
    --background: #282828;
    --foreground: #fbfbdd;
    --grey: #8f8f88;
    --magenta: #cc8ba2;
    --red: #ef9d88;
    --orange: #f8c194;
    --yellow: #f0eb98;
    --green: #afcaa6;
    --cyan: #a9d5d4;
    --blue: #7cafc2;
    --border: 0.2rem dashed #fbfbdd;
    --padding: 1.00rem;
    --small: 1.5rem;
    --medium: 2.0rem;
    --large: 3.0rem;
    --huge: 4.0rem;
    --glow: 105%;
}

html {
    font-size: min(2.25vmin, 1.00rem);
    height: calc(100vh - calc(var(--padding) * 2));
    color-scheme: dark;
}

body {
    font-family: var(--font);
    color: var(--foreground);
    caret-color: var(--foreground);
    background-color: var(--background);
    margin: var(--padding);
    height: 100%;
    display: grid;
    grid-template-rows: min-content auto min-content;
}

header{
    border: var(--border);
    padding: var(--padding) calc(var(--padding) * 2);
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

nav {
    width: calc(var(--padding) * 38);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    border: var(--border);
    padding: calc(var(--padding) * 2);
    overflow-y: auto;
}

section {
    margin: var(--padding) 0 0 0;
}

footer{
    padding: var(--padding) calc(var(--padding) * 2);
    border: var(--border);
    border-top: none;
    text-align: right;
}

h1 {
    font-size: var(--huge);
    margin-right: calc(var(--padding) * 4)
}

h2 {
    font-size: var(--large);
}

h3 {
    font-size: var(--medium);
}

p, li {
    font-size: var(--small);
    margin: calc(var(--padding) / 2) 0 0 0;
}

ol, li {
    list-style: decimal;
    list-style-position: inside;
}

a:link, a:visited {
    color: var(--foreground);
    text-decoration: none;
}

a:hover, a:active {
    filter: brightness(var(--glow));
}

input:hover, input:focus, input:active {
    filter: brightness(var(--glow));
    outline: none;
}

textarea:hover, textarea:focus, textarea:active {
    filter: brightness(var(--glow));
    outline: none;
}

.index:visited{
    color: var(--foreground);
}

.about:visited, .about:active, .cancelled {
    color: var(--red);
}

.projects:visited, .projects:active, .developing {
    color: var(--orange);
}

.blog:visited, .blog:active, .completed {
    color: var(--green);
}

.contact:visited, .contact:active, .planning {
    color: var(--cyan);
}

.subtext, .footer, .footer:link, .footer:visited {
    color: var(--grey);
}