:root {
    --font: 'VT323', monospace;
    --background: #181818;
    --foreground: #d8d8d8;
    --red: #ab4642;
    --green: #a1b56c;
    --blue: #7cafc2;
    --yellow: #f7ca88;
    --grey: #787878;
    --border: 0.2rem dashed #d8d8d8;
    --padding: 1.00rem;
    --small: 1.5rem;
    --medium: 2.0rem;
    --large: 3.0rem;
    --huge: 4.0rem;
    --glow: 150%;
}

html {
    font-size: min(2.25vmin, 1.00rem);
    height: calc(100vh - calc(var(--padding) * 2));
}

body {
    padding: var(--padding);
    font-family: var(--font);
    color: var(--foreground);
    background-color: var(--background);
    caret-color: var(--foreground);
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header {
    padding: var(--padding) calc(var(--padding) * 2);
    border: var(--border);
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

nav {
    width: calc(var(--padding) * 40);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

main {
    padding: var(--padding);
    border: var(--border);
    border-bottom: none;
    overflow-y: auto;
    flex-grow: 1;
}

article {
    padding: var(--padding);
}

section {
    padding: var(--padding) 0 0 0;
}

footer {
    padding: var(--padding);
    border: var(--border);
    text-align: right;
}

h1 {
    font-size: var(--huge);
    padding-right: calc(var(--padding) * 5);
}

h2 {
    font-size: var(--large);
}

h3 {
    font-size: var(--medium);
}

p {
    font-size: var(--small);
}

a:link, a:visited {
    color: var(--foreground);
    text-decoration: none;
}

a:hover, a:active {
    filter: brightness(var(--glow));
}

input:hover, input:focus, input:active {
    filter: brightness(var(--glow));
    outline: none;
}

textarea:hover, textarea:focus, textarea:active {
    filter: brightness(var(--glow));
    outline: none;
}

.projects-link{
    position: absolute;
    left: 0;
    top: 0;
}

.index:visited{
    color: var(--foreground);
}

.about:visited, .about:active, .cancelled {
    color: var(--red);
}

.blog:visited, .blog:active, .completed {
    color: var(--green);
}

.contact:visited, .contact:active, .planning {
    color: var(--blue);
}

.projects:visited, .projects:active, .developing {
    color: var(--yellow);
}

.subtext, .footer, .footer:link, .footer:visited {
    color: var(--grey);
}
