/* Root variables */
:root {
    --font: 'VT323', monospace;
    --background: #181818;
    --foreground: #d8d8d8;
    --red: #ab4642;
    --green: #a1b56c;
    --blue: #7cafc2;
    --yellow: #f7ca88;
    --grey: #787878;
    --glow: 150%
}

/* Large font sizes */
@media only screen and (min-width: 1280px) {
    :root {
    --navwidth: 50rem;
    --border: 0.2rem;
    --padding: 1.00rem;
    --small: 1.50rem;
    --medium: 2.00rem;
    --large: 3.00rem;
    --huge: 4.00rem;
    --cardwidth: calc(50% - calc(var(--padding) * 3.45));
    }
}

/* Small font sizes */
@media only screen and (max-width: 1280px) {
    :root {
    --navwidth: 100%;
    --border: min(0.40vw, 0.2rem);
    --padding: min(2.00vw, 1.00rem);
    --small: min(3.00vw, 1.5rem);
    --medium: min(4.00vw, 2.0rem);
    --large: min(6.00vw, 3.0rem);
    --huge: min(12.00vw, 4.0rem);
    --cardwidth: calc(100% - calc(var(--padding) * 3.45));
    }
}

/* Huge screen support */
@media only screen and (min-width: 2560px) {
    :root {
        --cardwidth: calc(25% - calc(var(--padding) * 3.45));
    }
}

html {
    height: calc(100vh - var(--padding));
}

body {
    font-family: var(--font);
    background-color: var(--background);
    color: var(--foreground);
    caret-color: var(--foreground) !important;
    padding: var(--padding);
    padding-bottom:0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header {
    padding: var(--padding);
    border: var(--border) dashed var(--foreground);
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

nav {
    width: 100%;
    max-width: var(--navwidth);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 0.25 auto;
}

main {
    padding: var(--padding);
    border: var(--border) dashed var(--foreground);
    border-bottom: none;
    flex-grow: 1;
}

article {
    padding: var(--padding) 0;
}

section {
    padding: var(--padding);
}

footer {
    padding: var(--padding);
    border: var(--border) dashed var(--foreground);
    text-align: right;
}

br {
    display: block;
    content: "";
    padding-top: var(--padding);
}

h1 {
    font-size: var(--huge);
}

h2 {
    font-size: var(--large);
}

p {
    font-size: var(--medium);
}

small {
    font-size: var(--small);
}

a:link {
    color: var(--foreground);
    text-decoration: none;
}

a:hover {
    filter: brightness(var(--glow));
}

a:active {
    filter: brightness(var(--glow));
}

a:visited{
    color: var(--foreground);
}

.index:visited{
    color: var(--foreground);
}

.about:visited, .about:active, .cancelled {
    color: var(--red);
}

.blog:visited, .blog:active, .completed {
    color: var(--green);
}

.contact:visited, .contact:active, .planning {
    color: var(--blue);
}

.projects:visited, .projects:active, .developing {
    color: var(--yellow);
}
.subtext, .footer, .footer:link, .footer:visited {
    color: var(--grey);
}
